.flexbox-container { 
  display: flex;
  justify-content: space-evenly;
  align-items:stretch;
  border: 3px solid cornsilk;

}

.flexbox-item {
  width: 200px;
  margin: 10px;
  border: 3px solid cornsilk;
  background-color:floralwhite;
}
.flexbox-item-1 {
  min-height: 100px;
  flex-grow: 1;
   

}

.flexbox-item-2 {
  min-height: 200px;
  flex-grow: 1;
}
.flexbox-item-3 {
  min-height: 300px;
  flex-grow:1; 
}



  



